html {
    height: 90vh;
}

/* body {
    background-image: linear-gradient(to right, #dd5e89, #ffedbc);
} */

.hero {
    padding-top: 40px;
}

.hero h1 {
    padding-top: 20px;
    padding-bottom: 20px;
    font-size: 1.5rem;
    color: #37474f;
}

.btn-primary,
.btn-primary:hover,
.btn-primary:active,
.btn-primary:visited,
.btn-primary:focus {
    background-color: #2BD3C2;
    border-color: #2BD3C2;
    font-weight: bold;
    padding: 15px 5px;
    margin: 0 10px 5px 10px;
}

section.links {
    margin-bottom: 120px;
}
